<%= provide(:title, 'Home') %>
<div class="row">
  <h1>Todo App</h1>
  <p>
  This is the home page
  Should have a user login screen which takes you to the user todo list
  </p>
</div>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
  <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Welcome</h3>
      </div>
      <div class="panel-body">
        <form role="form">
          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-3"></div>
</div>
